  
@media (max-width: 768px) {
  .container-form {
    max-width: 320px;
    background: linear-gradient(to bottom, #121212 0%, #131313 10%, #141414 15%, rgba(0, 123, 255, 0.5) 100%);
  }

  .mensagem-sucesso {
    font-size: 18px;
  }

  .mensagem-erro {
    width: 100%;
  }

  .formulario-contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
  }

  .campo-wrapper {
    width: 260px;
  }

  .input-campo,
  .textarea-campo {
    width: 100%;
  }

  .textarea-campo {
    height: 150px;
  }

  .botao-enviar {
    width: 260px;
  }
}