  
  @media (max-width: 768px){

 .formulario-contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .input-campo,
  .textarea-campo {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3b82f6; 
    color: white;
    padding: 8px 4px;
    font-size: 16px;
    outline: none;
    width: 300px;
  }
  
  .textarea-campo {
    border: 1px solid #3b82f6;
    border-radius: 8px;
    resize: none;
    height: 160px;
    padding: 8px;
  }
  
  .botao-enviar {
    width: 300px;
  }
  
  @media  (max-width: 360px){
    .input-campo,
  .textarea-campo {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3b82f6; 
    color: white;
    padding: 8px 4px;
    font-size: 16px;
    outline: none;
    width: 250px;
  }
  
  .textarea-campo {
    border: 1px solid #3b82f6;
    border-radius: 8px;
    resize: none;
    height: 160px;
    padding: 8px;
  }
  
  .botao-enviar {
    width: 250px;
    
   }
 } 
}