@media (max-width: 768px){
    .carousel-container {
      margin-top: 20px;
      width: 350px;
    }
    .carousel {
      display: none; /* Esconde o carousel normal */
    }
  
    .carousel__mobile {
      display: flex; /* Mostra o carousel mobile */
    }

    .indicators {
      margin-top: 30px;
    }
  }
