@media (max-width: 768px){
    .container__card{
        width: 250px;
        height: 350px;
        margin-top: 10px;
        gap: 20px;
    }
    .container__card > h1{
        font-size: 43px;
    }
    .container__card > p{
        font-size: 15px;
    }
}