<div class="container__footer">
  <ul role="list">
    <li>
      <a
        href="https://www.linkedin.com/in/geovane-junior-95a97328b/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn de Geovane Junior (abre em nova aba)">
        LinkedIn
      </a>
    </li>
    <li>
      <a
        href="https://github.com/Geovanej7"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub de Geovane Junior (abre em nova aba)">
        GitHub
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/geo.dev7/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram de Geovane Junior (abre em nova aba)">
        Instagram
      </a>
    </li>
  </ul>
</div>
