h1{
    font-family: 'Orbitron';
    color: #F5F5F5;
    font-size: 70px;
}
p{
    color:#A1A1A1 ;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container__sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 550px;
}
.container{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.linha-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width:600px;
}

.linha-ondulada {
  width: 100%;
  height: 100px;
}