<div class="sobre-container">
  <h1 class="titulo">Sobre Mim</h1>
  <p class="descricao">
    Sou um desenvolvedor web com 3 anos de experiência em estudos na área.
    Tenho formação técnica em informática e estou cursando Análise e Desenvolvimento de Sistemas.
    Apaixonado por tecnologia, busco sempre aprender e aplicar novos conhecimentos em projetos práticos.
    Meu foco está no desenvolvimento web, criando soluções modernas e funcionais.
  </p>

  <div class="cards">
    <div class="card">
      <h3>💻 Back-end</h3>
      <p>Crio APIs em Java e JavaScript respeitando o padrão Rest.</p>
    </div>
    <div class="card">
      <h3>🎨 Front-end</h3>
      <p>Crio páginas Web focadas em usabilidade, responsividade e experiência agradável ao usuário.</p>
    </div>
    <div class="card">
      <h3>⚡ FullStack</h3>
      <p>Crio projetos completos integrando back-end, front-end e bancos de dados relacionais ou não relacionais, visando solucionar problemas reais com excelência</p>
    </div>
  </div>

  <h2 class="subtitulo">Tecnologias</h2>
  <div class="tecnologias">
    <span>Spring Boot</span>
    <span>Angular</span>
    <span>NodeJs</span>
    <span>React</span>
    <span>Sql</span>
    <span>NoSql</span>
  </div>
</div>
