
@media (max-width: 768px) {
    
    .container__title > h1 {
        font-size: 38px;
    }
    .container__title > span{
        font-size: 12px;
    }
    .container__title {
        margin-bottom: 10px;
    }
    
}