.container {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; 
    display: flex;
}

header {
  position: fixed;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  gap: 50px;
  background: linear-gradient(to bottom, #121212 0%, #131313 10%, #141414 15%, rgba(0, 123, 255, 0.5) 100%);
  z-index: 1000;
}

footer{
    display: none;
}


@media (max-width: 768px) {
    header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;         /* altura pequena, só barra */
    width: 100%;          /* ocupa toda largura */
    flex-direction: row;  /* logo + menu na horizontal */
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    background: #121212;
    z-index: 1000;
  }
  app-profile-img {
    display: none;
  }
    .content {
        margin-top: 40px;
        height: auto; 
        gap: 30px; 
        
    }
    .container__body{
        display: flex;
        flex-direction: column;
        gap: 280px;
       
    }
    main{
        padding: 10px;
       
    }
    footer {
        position: fixed;
        bottom: 0;        /* fixa no rodapé */
        width: 100%;      /* ocupa toda a largura da tela */
    }
}

  
