.container {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; 
    display: flex;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 5px 2%;
}


@media (max-width: 768px) {
    header {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .content {
        margin-top: 40px;
        height: auto; 
        gap: 30px; 
        
    }
    .container__body{
        display: flex;
        flex-direction: column;
        gap: 280px;
       
    }
    main{
        padding: 10px;
       
    }
    footer {
        position: fixed;
        bottom: 0;        /* fixa no rodapé */
        width: 100%;      /* ocupa toda a largura da tela */
    }
}
@media (min-width: 1920px) {

    header {
    position: fixed;       /* fixa o header na tela */
    height: 100vh;         /* ocupa toda a altura da tela */
    width: 200px;          /* largura da barra lateral */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinha o conteúdo à esquerda */
    justify-content: flex-start;
    padding: 30px;
    gap: 50px;
    background: linear-gradient(to bottom, #121212 0%, #131313 10%,#141414 15%, rgba(0, 123, 255, 0.5) 100%);
   }

   footer{
    display: none;
   }
   
}
  
