.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1; 
    padding: 20px;
    overflow: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 5px 2%;
}


@media (max-width: 768px) {
    header {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .content {
        margin-top: 40px;
        height: auto; 
        gap: 30px; 
        
    }
    .container__body{
        display: flex;
        flex-direction: column;
        gap: 280px;
       
    }
}
@media (min-width: 1920px) {

    .content { 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 110px;
    }
   
}
  
